n8n/demo-data/workflows/CreateNewBatchWeekly.json
{
  "name": "✅Create New Batch (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 12,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        64
      ],
      "id": "554c0c8c-8fff-4faa-bac6-c70f0f29d0b5",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT batch_id\nFROM librairy.batches\nWHERE \n  -- เช็กว่ามี Batch ที่เริ่มตั้งแต่ จันทร์นี้ 00:00 เป็นต้นไป (ไม่เกินวันจันทร์หน้า)\n  batch_start_date >= DATE_TRUNC('week', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bangkok') + INTERVAL '12 hours'\n  AND \n  batch_start_date < DATE_TRUNC('week', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bangkok') + INTERVAL '1 week' + INTERVAL '12 hours';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        64
      ],
      "id": "9d82730b-9319-46ac-83c4-0dfd3d83fbf2",
      "name": "check this week batch exist",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rfLfunF6QuZZjxRW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO librairy.batches (batch_start_date, batch_end_date, status)\nVALUES (\n  -- เริ่ม: จันทร์นี้ 00:00:00 (Asia/Bangkok)\n  DATE_TRUNC('week', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bangkok') + INTERVAL '12 hours', \n  -- จบ: จันทร์หน้า 00:00:00 (Asia/Bangkok)\n  DATE_TRUNC('week', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bangkok') + INTERVAL '1 week' + INTERVAL '12 hours',\n  'PROCESSING'\n)\nON CONFLICT DO NOTHING -- ป้องกันการ Insert ซ้ำถ้ามี Unique Constraint\nRETURNING batch_id, batch_start_date, batch_end_date;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        80
      ],
      "id": "09bd66ff-481c-45f7-97a1-43ac500f9cbd",
      "name": "create weekly batch (current week)",
      "credentials": {
        "postgres": {
          "id": "rfLfunF6QuZZjxRW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bab6b41e-7fa8-4be2-aaa0-340077f38bb2",
              "leftValue": "={{ $json.batch_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        64
      ],
      "id": "b48f9a08-4971-42dd-bf73-102abf8077b8",
      "name": "Is this week batch created yet"
    },
    {
      "parameters": {
        "content": "## การสร้าง batch\n\nbatch ใหม่จะถูกสร้างอัตโนมัติเวลา 12.05 ของทุก ๆ วันจันทร์แล้วเก็บไปยัง database เพื่อเตรียมนำมาแปะเข้ากับ request ของอาทิตย์ใหม่ที่จะเข้ามา สุดท้ายแจ้งเตือนไปยัง email ",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        272
      ],
      "typeVersion": 1,
      "id": "9ac234c5-5e6f-4f15-8694-76784fcb5af1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "oak0809@gmail.com",
        "subject": "[LibrAIry]  การสร้าง Batch ประจำสัปดาห์สำเร็จ",
        "emailType": "text",
        "message": "=ระบบได้ดำเนินการสร้าง Batch ประจำสัปดาห์โดยอัตโนมัติสำเร็จแล้ว โดยมีรายละเอียดดังนี้:\n\nรายละเอียด Batch:\n- Batch ID: {{ $json.batch_id }}\n- วันที่เริ่มต้น: {{ DateTime.fromISO($json.batch_start_date).setZone('Asia/Bangkok').toFormat('dd/MM/yyyy') }}\n- วันที่สิ้นสุด: {{ DateTime.fromISO($json.batch_end_date).setZone('Asia/Bangkok').toFormat('dd/MM/yyyy') }}\n\nคุณสามารถตรวจสอบข้อมูลเพิ่มเติมได้ในระบบฐานข้อมูลครับ\n\nขอบคุณครับ\nระบบอัตโนมัติ (n8n)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        80
      ],
      "id": "64a8ff0f-8a89-44eb-ba7f-388f3dcd1914",
      "name": "Send a message",
      "webhookId": "5afc3b46-a43e-4b2d-835b-8f5959c1cc12",
      "credentials": {
        "gmailOAuth2": {
          "id": "GFGepZajjoBJJ1zq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE librairy.process_state\nSET \n    status = CASE \n        WHEN process_id = 1 THEN 'IN_PROGRESS'\n        ELSE 'PENDING'\n    END,\n    updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        512
      ],
      "id": "b057c8ca-2c28-424b-8ada-bb472b579693",
      "name": "reset process state",
      "credentials": {
        "postgres": {
          "id": "rfLfunF6QuZZjxRW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO librairy.batches (batch_start_date, batch_end_date, status)\nVALUES (\n  -- เริ่ม: จันทร์นี้ 00:00:00 (Asia/Bangkok)\n  DATE_TRUNC('week', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bangkok') + INTERVAL '12 hours', \n  -- จบ: จันทร์หน้า 00:00:00 (Asia/Bangkok)\n  DATE_TRUNC('week', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Bangkok') + INTERVAL '1 week' + INTERVAL '12 hours',\n  'PROCESSING'\n)\nON CONFLICT DO NOTHING -- ป้องกันการ Insert ซ้ำถ้ามี Unique Constraint\nRETURNING batch_id, batch_start_date, batch_end_date;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        304
      ],
      "id": "9ab70ad5-80fb-4608-9796-8c20d91884af",
      "name": "create weekly batch test+12hours",
      "credentials": {
        "postgres": {
          "id": "rfLfunF6QuZZjxRW",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        224
      ],
      "id": "d11d5b5f-4281-4458-9798-b85da31818d5",
      "name": "Schedule Trigger Midnight",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "check this week batch exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check this week batch exist": {
      "main": [
        [
          {
            "node": "Is this week batch created yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this week batch created yet": {
      "main": [
        [],
        [
          {
            "node": "create weekly batch (current week)",
            "type": "main",
            "index": 0
          },
          {
            "node": "reset process state",
            "type": "main",
            "index": 0
          },
          {
            "node": "create weekly batch test+12hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create weekly batch (current week)": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create weekly batch test+12hours": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Midnight": {
      "main": [
        [
          {
            "node": "check this week batch exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "availableInMCP": false
  },
  "versionId": "869b6383-0e1a-4bb1-adf4-c6db1fec5929",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f9c00188d6f400698d5ec5063c8e4161b720199d095ce6574fdb762de0b579c"
  },
  "id": "J5g0hHwSd7AG3Ym8",
  "tags": [
    {
      "updatedAt": "2026-03-15T14:21:05.445Z",
      "createdAt": "2026-03-15T14:21:05.445Z",
      "id": "3jDQ5SpxlJ0vLKr7",
      "name": "stage"
    },
    {
      "updatedAt": "2026-02-15T19:32:38.221Z",
      "createdAt": "2026-02-15T19:32:38.221Z",
      "id": "us7DFvs3VkMFt2cp",
      "name": "support"
    }
  ]
}